
.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:bold; color:#000; }

#validateTips, #validateTipsMotivo {color: #fff; background-color: #D14836; padding:2px; text-align: center;display: none;font-weight: bold;}
.campoObligatorio{background-color: #FEEDE2; background-image: none;}
.error {color:#fff; background-color:#D14836; padding:3px; text-align:center; font-weight:bold;}
.message {color:#fff; background-color:#008000; padding:3px; text-align:center; font-weight:bold;}