<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
    
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
			<value>net.sourceforge.jtds.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:jtds:sqlserver://localhost:1433</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="maxPoolSize">
			<value>20</value>
		</property>
		<property name="maxStatements">
			<value>150</value>
		</property>
		<property name="maxIdleTime">
			<value>30</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="user">
			<value>sa</value>
		</property>
		<property name="password">
			<value>glensak05</value>
		</property>
	</bean>

</beans>
